<header>
  <nav *ngIf="showMenu" class="nav nav-pills p-2">
    <a
      class="nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
    <a
      class="nav-link"
      routerLink="cursos"
      [queryParams]="{ pagina: 1 }"
      routerLinkActive="active"
      >Cursos</a
    >
    <a class="nav-link" routerLink="alunos" routerLinkActive="active">Alunos</a>
  </nav>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>
